{% extends 'authForm/base.html' %} {% block title %} Login {% endblock title %} {% block body %}
<style>
    .error {
        color: red;
    }
</style>
<h3 class="text-area" style="text-align:center;"><b>User Login</b></h3>
<form method="post" action=" " style="margin-left:20px;" novalidate>
    {% csrf_token %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <p class="error"> {{error}} </p>
    {% endfor %} {% endif %} {% for field in form %}
    <p>
        {{ field.label_tag }} <br> {{ field }} {{fm.errors|striptags}}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Login</button>
    <button class="btn btn-success" formaction="{% url 'signup' %}">Signup</button>
</form>
{% endblock body %}